<table>
    <?php
    $html = "";
    foreach($managersReports as $report){
        $html .= "<tr>";
        $html .= "<td>";
        $html .= "Device id:  ";
        $html .= "</td>";
        $html .= "<td>";
        $html .= $report->device_id;
        $html .= "</td>";
        $html .= "</tr>";
    }
    echo $html;
    ?>
</table>
