//
// === BUTTONS ===
//
//
// - Base Button -
//

.btn {
    display: inline-block;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    overflow: hidden;
    margin-top: 20px;
    border-radius: 0;
    padding: 14px;
    font-family: $font-primary;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1;
    text-align: left;
    transition: all .2s ease-in-out;

    &:focus {
        outline: none;
    }

    + .btn {
        margin-top: 10px;
    }

    i {
        float: right;
        margin-left: 10px;
    }

    &.has-icon-left i {
        float: left;
        margin: 0 10px 0 0;
    }

    &.has-icon-far-right i {
        float: right;
    }

    @include media-breakpoint-up(md) {
        margin-top: 30px;

        i {
            margin-left: 15px;
        }
    }

    //
    // - Block Button -
    //

    &.btn--block {
        position: relative;
        width: 100%;
    }

    //
    // - Button Modifiers -
    //

    &.btn--primary {
        background-color: $ebony-clay;
        color: $white;

        &:hover {
            background-color: $btn-primary-hover;
        }
    }

    &.btn--secondary {
        background-color: $supernova;
        color: $ebony-clay;

        &:hover {
            background-color: $btn-secondary-hover;
        }
    }

    &.btn--default {
        background-color: $seashell;
        color: $ebony-clay;

        &:hover {
            background-color: $btn-default-hover;
        }
    }

    &.btn--back {
        margin-top: 0;
        padding-left: 0;
    }

    &.btn--link {
        padding: 0;
        text-decoration: underline;
        opacity: .61;

        &:hover {
            opacity: 1;
        }
    }
}
