//
// === COUNTER ===
//

.counter {
    border-left: 5px solid transparent;
    padding: 8px 30px 2px;

    span {
        display: block;

        &.counter__number {
            font-size: 6rem;
        }

        &.counter__type {
            position: relative;
            font-size: 2.3rem;
            color: $counter-type;
        }
    }

    &:not(.counter--total) {
        .counter__type {
            padding-left: 40px;

            &::before {
                position: absolute;
                top: 50%;
                left: 0;
                font-family: $iconfont;
                font-size: 2.7rem;
                transform: translateY(-50%);
            }
        }
    }

    &.counter--total {
        border-color: $ebony-clay;
    }

    &.counter--red {
        border-color: $pomegranate;

        .counter__type::before {
            content: '\e916';
        }
    }

    &.counter--green {
        border-color: $lima;

        .counter__type::before {
            content: '\e917';
        }
    }

    &.counter--unsafe {
        border-color: $peel;

        .counter__type::before {
            content: '\e918';
        }
    }

    &.counter--other {
        border-color: $ebony-clay;

        .counter__type::before {
            content: '\e919';
        }
    }
}
