//
// === FORMS ===
//

//
// - Default -
//

.form-group {
    font-size: 1.6rem;

    .btn {
        margin-top: 0;
    }
}

//
// - Form Control -
//

.form-control {
    height: auto;
    border: 1px solid $input-border-lms;
    border-radius: 0;
    padding: 5px 16px 6px;
    background-color: transparent;
    font-size: 1.6rem;
    line-height: normal;
    color: $input-text-lms;
    box-shadow: none;
    transition: border-color .2s ease-in-out;

    &:not([type='checkbox']) {
        &:hover,
        &:focus {
            border-color: $ebony-clay;
        }
    }

    &[disabled],
    &[readonly] {
        border-color: $input-disabled-border;
        cursor: not-allowed;

        &:hover,
        &:focus {
            border-color: $input-disabled-border;
        }
    }
}

//
// - Select -
//

.select-wrapper {
    position: relative;

    select {
        width: 100%;
        padding-right: 35px;
    }

    &::after {
        @include caret(down, $input-text-lms, 5px);
        content: '';
        position: absolute;
        top: 20px;
        right: 10px;
        transform: translateY(-50%);
    }
}
