//
// === GRAPHS ===
//

.graph-grid {
    display: flex;
    flex-wrap: wrap;
}

.graph--donut {
    display: flex;
    align-items: center;
    flex-basis: 50%;
    position: relative;
    padding: 30px 45px;
    border-bottom: 1px solid $seashell;

    &:nth-child(even)::before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        width: 1px;
        height: calc(100% - 60px);
        background-color: $seashell;
    }

    &:last-child {
        border-bottom: 0;
    }

    .graph__chart {
        position: relative;

        canvas {
            // sass-lint:disable no-important
            width: 90px !important;
            height: 90px !important;
            // sass-lint:enable no-important
        }

        .chart__percentage {
            position: absolute;
            top: 50%;
            left: 50%;
            font-size: 2.4rem;
            transform: translate(-50%, -50%);

            &::after {
                content: '%';
                position: absolute;
                top: 3px;
                font-size: 1.2rem;
            }
        }
    }

    .graph__label {
        display: block;
        margin-left: 25px;
        font-weight: 300;
        font-size: 2rem;
    }
}
