//
// === PAGE SECTION ===
//

.page__section {
	padding: 50px;
	background-color: $concrete;

    &.section--stats {
        display: flex;
		flex-wrap: wrap;
		background-color: $wild-sand;

        > * {
            flex-basis: calc(100% / 3);
        }

		@include media-breakpoint-up(xl) {
			> * {
				flex-basis: 20%;
			}
		}
    }

	&.section--content {
		.card {
			padding: 30px 20px;
		}
	}

	&.section--table {
		.card {
			padding: 1px 0;
		}
	}
}
