//
// === PAGE HEADER ===
//

.page__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 94px;
    width: calc(100% - 180px);
    height: 87px;
    padding: 0 50px;
    background-color: $desktop-header-bg;
    box-shadow: 0 5px 10px -2px $shadow-ebony-clay;
    z-index: 3;

    h1 {
        margin: 0;
    }

    ul {
        display: flex;
        border-right: 1px solid $gallery;

        li {
            a,
            span {
                display: block;
                padding: 0 25px;
                font-size: 1.8rem;
                line-height: 87px;
                border-left: 1px solid $gallery;
                transition: background-color .1s ease-in-out;

                &:hover,
                &:focus {
                    background-color: $page-header-hover;
                }
            }

            + li {
                a,
                span {
                    border-left: 1px solid $gallery;
                }
            }
        }
    }

    + .page__section {
        margin-top: 87px;
    }
}
