//
// === TABLES ===
//

.query-builder .rules-group-container,
.builder-buttons,
.bootgrid-header,
.table-responsive,
.panel-body,
.panel-footer {
     .btn {
         margin-top: 0;

         + .btn {
             margin-top: 0;
         }
     }
 }

//
// - Table Filter -
//

.query-builder .rules-group-container {
    margin: 15px;

    .btn {
        padding: 8px;
    }
}

.builder-buttons {
    margin: 0 15px;

    .btn-save {
        display: none;
    }
}

//
// - Table -
//

th,
td {
    font-size: 1.6rem;
}

.table {
    > thead > tr > th,
    > tbody > tr > th,
    > tbody > tr > td {
        padding-left: 15px;
        padding-right: 15px;
        vertical-align: middle;

        &:last-child {
            width: 165px;
        }
    }

    > tbody > tr > td {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

.infos {
    font-size: 1.6rem;
}
