//
// - Widget List -
//

.widget-list {
    .widget-list__item {
        margin: 0 -35px;

        a {
            display: flex;
            flex-direction: column;
            position: relative;
            padding: 30px 30px 30px 65px;
            line-height: 2.4rem;
            transition: background-color .025s ease-in-out;

            &::after {
                content: '';
                position: absolute;
                top: 35px;
                left: 35px;
                width: 15px;
                height: 15px;
                border-radius: 100%;
                font-size: 3rem;
            }

            .widget-list__item__content {
                font-size: 1.8rem;

                span {
                    display: block;

                    &:first-child {
                        font-weight: 500;
                    }
                }
            }

            .widget-list__item__description,
            .widget-list__item__timestamp,
            .widget-list__item__subject,
            .widget-list__item__body {
                font-size: 1.6rem;
            }

            .widget-list__item__description {
                font-weight: 400;
            }

            .widget-list__item__timestamp {
                margin-top: 10px;
                opacity: .61;
            }

            .widget-list__item__body {
                line-height: normal;
                opacity: .6;
            }

            i {
                position: absolute;
                top: 50%;
                right: 30px;
                transform: translateY(-50%);
            }

            &:hover {
                background-color: $btn-default-hover;
            }
        }

        &:nth-child(even) {
            background-color: $reports-odd-even-bg;
        }

        &.is-new a::after {
            background-color: $ebony-clay;
        }

        &.is-on-hold a::after {
            background-color: $peel;
        }

        &.is-rejected a::after {
            background-color: $pomegranate;
        }

        &.is-accepted a::after {
            background-color: $lima;
        }

        &.is-pending a::after {
            background-color: $pomegranate;
        }

        &.is-processed-positive a::after {
            background-color: $lima;
        }

        &.is-processed-neutral a::after {
            background-color: $supernova;
        }
    }

    @media screen and (min-width: 1920px) {
        .widget-list__item a {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding-left: 65px;

            .widget-list__item__content {
                width: 50%;

                .widget-list__item__marker {
                    left: 30px;

                    &::before {
                        content: '\e922';
                    }
                }
            }

            .widget-list__item__timestamp {
                flex-shrink: 0;
                margin: 0 10px;
            }

            i {
                position: relative;
                top: auto;
                right: auto;
                transform: none;
            }

            .btn {
                margin: 0;
            }
        }
    }
}
