//
// === WIDGETS ===
//

.widget {
    margin-bottom: 40px;

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;

        .h3,
        .btn {
            margin: 0;
        }

        .h3 {
            line-height: 3.4rem;
        }
    }

    &.widget--graph .card {
        position: relative;
        padding: 30px 20px;
        height: 324px;
    }

    &.widget--list .card {
        padding: 0 35px;
    }
}
