html, body, .container.main {
    height: 100%;
}

body {
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-size: 12px;
}

input.small-40 {
    float: left;
    width: 60px;
}

.matrix {
    float: left;
}

.top-bar-section .menu > li {
    position: relative;
}

.top-bar-section ul.menu_level_1 {
    display: none;
    position: absolute;
    /*top: 0;*/
    left: 0;
    z-index: 999;
    width: 250px;
}

.top-bar-section .menu > ul > li:hover .menu_level_1 {
    display: block;
}

.top-bar-section .menu_level_1 li {
    float: none;
    display: block;
}

.top-bar-section ul.menu_level_2 {
    display: none;
    position: absolute;
    top: 0px;
    left: 250px;
    width: 250px;
}

.menu_level_1 li:hover > .menu_level_2 {
    display: block;
}

.menu span {
    color: #FFF;
    display: block;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-size: 0.8125rem;
    font-weight: normal;
    padding-left: 0.9375rem;
    padding: 12px 0 12px 0.9375rem;
    text-transform: none;
    width: 100%;
    cursor: pointer;
}

.menu span:hover {
    background-color: #308e97;
    text-decoration: underline;
}

.index .actions a[href*="edit"],
.related .actions a[href*="edit"],
.index .actions a[href*="view"]:not(.entity),
.related .actions a[href*="view"]:not(.entity),
.index .actions a.view,
.index .actions a[href="#"],
.related .actions a[href="#"],
a.change_password {
    visibility: hidden;
    font-size: 0;
}

.index .actions a[href*="edit"]:before,
.related .actions a[href*="edit"]:before,
.index .actions a[href*="view"]:not(.entity):before,
.related .actions a[href*="view"]:not(.entity):before,
.index .actions a.view:before,
.index .actions a[href="#"]:before,
.related .actions a[href="#"]:before,
a.change_password:before {
    font-family: 'FontAwesome';
    visibility: visible;
    font-size: 14px;
}

.index .actions a[href*="view"]:not(.entity):before,
.related .actions a[href*="view"]:not(.entity):before,
.index .actions a.view:before {
    content: '\f15c';
}

.index .actions a[href*="edit"]:before,
.related .actions a[href*="edit"]:before {
    content: '\f040';
}

.index .actions a[href="#"]:before,
.related .actions a[href="#"]:before {
    content: '\f00d';
}

.index .actions a[href="#"].move-down:before {
    content: '\f13a';
}

.index .actions a[href="#"].move-up:before {
    content: '\f139';
}

a.change_password:before {
    content: '\f084';
}

.right .menu ul.menu_level_1 {
    left: auto;
    right: 0;
}

.quoteRequests .contact-logs {
    list-style: none;
    padding: 0;
    margin: 0;
}

.quoteRequests .contact-logs span {
    font-style: italic;
    font-size: small;
}

.quoteRequests .contact-logs li {
    margin-bottom: 10px;
}

#log-sidebar ul,
#log-sidebar p {
    font-size: 10px;
}

.ui-widget {
    font-size: 12px;
}

.scrollable {
    overflow-x: visible;
    overflow-y: scroll;
    width: 100%;
}

.scrollable table {
    table-layout: fixed;
    width: 100%;
    *margin-left: -100px; /*ie7*/
}

.change {
    border-bottom: 1px solid #CCC;
    margin-bottom: 5px;
}

.change-header {
    font-style: italic;
}

.change-key {
    font-weight: bold;
}

.change-old {
    text-decoration: line-through;
}

.change-new {

}

.task-end-date {
    font-size: small;
    font-style: italic;
}

.bootgrid-table {
    width: auto !important;
    min-width: 100%;
    overflow: visible;
}

.bootgrid-holder {
    overflow-x: scroll;
    overflow-y: visible;
}

#builder-holder {
    display: none;
}

.container {
    width: 100%;
}

.quoterequests.unassigned .checkbox input[type=checkbox] {
    margin: 0;
}

.filter.btn-group {
    margin-left: 20px;
}

.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 100% !important;
}

.top-bar-section .left .menu {
    min-width: 500px;
}

.top-bar-section .first {
    margin: auto;
}

td.notificationBody {
    font-style: italic;
    font-size: 11px;
}

img.preview {
    max-height: 100px;
}

/* Form inputs created by Sumedia
   ========================================================================== */

/**
* Form input styling in IE 8/9/10/11, Safari, and Chrome.
*/
.form_style_label {
    width: 25%;
    float: left;
    padding: .375rem .75rem;
    margin-bottom: 0;
    background-color: rgba(224, 241, 229, 0.4);
    border-color: rgba(128, 128, 128, 0.24);
    border-style: solid;
    border-width: 0.1px;
    border-right: 0;
    height: 37px;
}

.form_style_element {
    width: 100%;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px;
}

.form_style_one {
    float: left;
    width: 75%;
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.form_style_two {
    float: left;
    width: 24%;
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.form_style_two.roof_shadow_free {
    width: 25px;
    margin: 20px 100px;
    position: relative;
}

.checkboxFive label {
    cursor: pointer;
    position: absolute;
    width: 25px;
    height: 25px;
    top: 0;
    left: 0;
    background: #eee;
    border: 1px solid #ddd;
}

.checkboxFive label:after {
    opacity: 0.2;
    content: '';
    position: absolute;
    width: 9px;
    height: 5px;
    background: transparent;
    top: 6px;
    left: 7px;
    border: 3px solid #333;
    border-top: none;
    border-right: none;

    transform: rotate(-45deg);
}

.form_style_three {
    float: left;
    width: 33.33%;
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.form_style_four {
    float: left;
    width: 25%;
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.checkbox_style {

}

.fieldset {
    padding-top: 10px;
    margin-bottom: 20px;
    background-color: #EEE;
}

.form-signin {
    max-width: 320px;
    margin: 0 auto;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu > .dropdown-menu ul {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}

.navbar-nav > .dropdown-submenu > a:after {
    content: '';
    margin-left: 10px;
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid \9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.dropdown-menu.menu_level_1 .dropdown-submenu > a:before {
    content: '';
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -20px;
}

.dropdown-submenu:hover > a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.dropdown-menu > li > a {
    padding-right: 30px;
}

.main {
    padding-top: 80px;
}

h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 0;
}

.radio label, .checkbox label {
    font-weight: bold;
}

.form-group {
    margin-bottom: 5px;
}

label.required:after {
    content: ' *';
    color: red;
}

td.choosenpackage {
    background: #5cb85c;
}

tr.unread {
    font-weight: bold;
}

label.error {
    color: red;
}

input.error {
    border-color: red;
}

td.belowzero {
    color: red;
}

.quote-image-container {

}

.quote-image {
    float: left;
}

.quote-image-actions {
    float: left;
    margin-left: 20px;
}

.login-bg {
    position: fixed;
    top: -10%;
    left: -10%;
    width: 120%;
    height: 120%;
    background-image: url(../frontend/dist/images/header-img.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    -webkit-filter: blur(5px);
    filter: blur(5px);
    z-index: 1;
}

.login-holder {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 32rem;
    height: 46rem;
    margin-top: -23rem;
    margin-left: -16rem;
    padding: 4rem;
    z-index: 2;
}

.reports tfoot {
    font-weight: bold;
}

.reports tfoot tr {
    background: #CCC;
}

.dhtmlx-message {
    background-color: #333;
}

.dhtmlx-alert-warning .dhtmlx_popup_title {
    color: #FFF;
    background: #FF0000;
}

.dhtmlx-alert-warning .dhtmlx_popup_button:first-child {
    background: #FF0000;
    color: #FFFFFF;
}

.panel-toggle {
    cursor: pointer;
}

.panel-title .fa {
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.panel-title.open .fa {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

#toggleSidebar {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
    color: #777;
}

#toggleSidebar .fa {
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

#toggleSidebar.open .fa {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

#availabilitiesTable .default {
    font-weight: bold;
}

#availabilitiesTable .not-available {
    color: red;
}

div.submit {
    display: inline-block;
}

span.boundary-possible {
    display: block;
    clear: both;
    color: #3c763d;
    font-weight: bold;
}

span.boundary-extra_inverter {
    display: block;
    clear: both;
    color: #ffb92e;
    font-weight: bold;
}

span.boundary-impossible {
    display: block;
    clear: both;
    color: #ff2036;
    font-weight: bold;
}

input.boundary-possible {
    font-weight: bold;
    color: #3c763d;
}

input.boundary-extra_inverter {
    color: #ffc261;
    font-weight: bold;
}

input.boundary-impossible {
    color: #ff2036;
    font-weight: bold;
}