//
// === HEADER ===
//

.header {
    display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
    top: 0;
	width: 100%;
	z-index: 3;

    &.header--dark {
		background-color: $nav-top-bg;
	}

    .header__logo {
		display: block;
		padding: 19px 25px 22px;

		img {
			width: auto;
			height: 46px;
		}
	}
}
