//
// === LAYOUT ===
//

//
// - Body and Page Wrapper -
//

body {
	background-color: $concrete;
}

//
// - Main -
//

main {
    padding-top: 94px;

    aside {
		position: fixed;
        width: 180px;
		height: calc(100vh - 94px);
		padding-bottom: 100px;
        background-color: $supernova;
		overflow-y: scroll;
		z-index: 3;
    }

    .page-wrapper {
		position: relative;
        left: 180px;
        width: calc(100% - 180px);
		min-height: calc(100vh - 94px);
		padding-bottom: 100px;
        overflow-y: scroll;
		z-index: 1;
    }
}

//
// - Avatar -
//

.avatar {
    width: 45px;
    height: 45px;
    margin-right: 25px;
    border-radius: 100%;
}
