//
// === NAVIGATION ===
//

//
// - Top Navigation -
//

.nav--top {
    > ul {
        display: flex;
        height: 100%;

        > li {
            a,
            span {
                display: block;
                color: $nav-top-text;
                transition: color .1s ease-in-out;
            }

            > a {
                $nav-item-line-height-lms: 94px;
                font-size: 2rem;
                line-height: $nav-item-line-height-lms;
            }

            &:first-child > a {
                position: relative;
                padding: 0 50px 0 25px;

                .badge {
                    position: absolute;
                    top: 25px;
                    right: 35px;
                    width: 22px;
                    height: 22px;
                    padding: 0;
                    border-radius: 100%;
                    background-color: $badge-bg;
                    font-weight: 400;
                    font-size: 1.2rem;
                    line-height: 2rem;
                    color: $white;
                    text-align: center;
                }
            }

            &:last-child > a {
                display: flex;
                align-items: center;
                padding: 0 75px 0 25px;
                background-color: $ebony-clay;

                &::after {
                    @include caret(down, $nav-top-text, 7px)
                    content: '';
                    position: absolute;
                    top: 53px;
                    right: 40px;
                    transform: translateY(-50%);
                    transition: border-top-color .1s ease-in-out;
                }
            }

            &.has-sub {
                position: relative;

                .nav__sub {
                    visibility: hidden;
                    opacity: 0;
                    position: absolute;
                    right: 0;
                    top: 100%;
                    min-width: 100%;
                    padding: 10px 20px;
                    background-color: $ebony-clay;
                    box-shadow: 0 5px 10px -2px $shadow-ebony-clay;
                    transition: opacity .5s cubic-bezier(.05, .69, .14, 1);

                    li {
                        a,
                        span {
                            position: relative;
                            padding: 15px 0;
                            font-size: 1.7rem;

                            &:hover {
                                color: $white;
                            }
                        }
                    }
                }

                &:hover,
                &:focus {
                    .nav__sub {
                        visibility: visible;
                        opacity: 1;
                    }
                }
            }

            &:hover,
            &:focus {
                > a,
                > span {
                    color: $white;

                    &::after {
                        border-top-color: $white;
                    }
                }
            }
        }
    }
}

//
// - Side Navigation -
//

.nav--aside {
    background-color: $supernova;

    > ul {
        li {
            display: block;

            a,
            span {
                display: block;
                position: relative;
                width: 100%;
                font-size: 1.4rem;
                transition: background-color .1s ease-in-out;
            }

            &:not(.has-sub) {
                a,
                span {
                    &:hover,
                    &:focus {
                        background-color: $nav-aside-item;
                    }
                }
            }

            &.is-active {
                > a,
                > span {
                    background-color: $nav-aside-item;
                }
            }

            &.has-sub {
                .nav__sub {
                    a,
                    span {
                        position: relative;
                        padding: 12px 25px 12px 60px;

                        &::before {
                            position: absolute;
                            top: 50%;
                            left: 40px;
                            font-family: $iconfont;
                            font-size: .5rem;
                            content: '\e900';
                            transform: translateY(-50%);
                        }
                    }
                }
            }
        }

        > li {
            position: relative;

            + li {
                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 5px;
                    width: calc(100% - 10px);
                    height: 1px;
                    background-color: $nav-aside-item;
                }
            }

            > a,
            > span {
                font-weight: 500;
                padding: 18px 25px 18px 50px;

                i {
                    position: absolute;
                    top: 21px;
                    left: 25px;
                    font-size: 1.5rem;
                }
            }

            &.has-sub {
                > a,
                > span {
                    padding-bottom: 12px;
                    cursor: default;
                }
            }
        }
    }
}
