//
// === FOOTER ===
//

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0 50px;

    .footer__section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid $footer-border;
        padding: 20px 0;

        ul {
            li {
                display: inline-block;
                font-size: 1.4rem;
                color: $footer-bottom;

                a,
                span {
                    color: $footer-bottom;
                    transition: color .2s ease-in-out;
                }

                + li {
                    a,
                    span {
                        margin-left: 20px;
                        padding-left: 20px;
                        border-left: 1px solid $footer-bottom;
                    }
                }

                a:hover {
                    color: $ebony-clay;
                }
            }
        }

        .logo-developer {
            transition: opacity .2s ease-in-out;

            img {
                width: auto;
                height: 21px;
            }

            &:hover {
                opacity: .5;
            }
        }
    }
}
