<div class="container reports-container">
	<a href="/" class="btn btn--back has-icon-left hidden-md-up"><i class="icon-arrow-left"></i>Terug</a>

    <section class="page__section section--white section--first section--first--reports hidden-md-up">
        <h1 class="h1">Meldingen</h1>

        <h4 class="h4">Bekijk hier alle reeds geplaatste meldingen door heel Nederland!</h4>
    </section>

    <aside>
	   <div class="center">
          <app-loader [loading]="loading" [failed]="failed"></app-loader>
       </div>
		<reports-custom-list-group
			[reports]="reports"
			[defaultPaginationlimit]="limit"
			(viewReport)="viewReport($event)"
			(editReport)="editReport($event)"
			(showOnMap)="showOnMap($event)"
			(setSearchInput)="searchInputValue($event)"
			(setPaginationLimit)="setPaginationLimit($event)">
		</reports-custom-list-group>
		<app-pagination [offset]="offset" [limit]="limit" [size]="count" (pageChange)="onPageChange($event)"></app-pagination>
	</aside>

	<div class="reports-map hidden-sm-down">
		<app-google-map [report]='currentReport' [center]='center' [zoom]='zoom' [scrollWheel]='scrollWheel' [deviceMarkers]='deviceMarkers' [reportMarkers]='reportMarkers' [deviceMarkersInfoWindowContentStrings]='deviceMarkersInfoWindowContentStrings' [deleteAllReportMarkers]='reportMarkersToBeDeleted'></app-google-map>

		<div class="reports-filter hidden-sm-down">
			<label for='filterIsNewReport'>
				<input type="checkbox" name="filterIsNewReport" id="filterIsNewReport" (click)="onClickFilterReportMarkers($event)" checked>
				
				<span class="btn btn--filter is-new">Nieuw ({{isNewReportCount}})</span>
			</label>

			<label for='filterIsOnHoldReport'>
				<input type="checkbox" name="filterIsOnHoldReport" id="filterIsOnHoldReport" (click)="onClickFilterReportMarkers($event)" checked>
				
				<span class="btn btn--filter is-on-hold">In de wacht ({{isOnHoldReportCount}})</span>
			</label>

			<label for='filterIsPendingReport'>
				<input type="checkbox" name="filterIsPendingReport" id="filterIsPendingReport" (click)="onClickFilterReportMarkers($event)" checked>
				
				<span class="btn btn--filter is-pending">Openstaand ({{isPendingReportCount}})</span>
			</label>

			<label for='filterIsProcessedPositiveReport'>
				<input type="checkbox" name="filterIsProcessedPositiveReport" id="filterIsProcessedPositiveReport" (click)="onClickFilterReportMarkers($event)" checked>
				
				<span class="btn btn--filter is-processed-positive">Behandeld, positief ({{isProcessedPositiveReportCount}})</span>
			</label>

			<label for='filterIsProcessedNeutralReport'>
				<input type="checkbox" name="filterIsProcessedNeutralReport" id="filterIsProcessedNeutralReport" (click)="onClickFilterReportMarkers($event)" checked>
				
				<span class="btn btn--filter is-processed-neutral">Behandeld, neutraal ({{isProcessedNeutralReportCount}})</span>
			</label>

		</div>
	</div>
</div>
