//
// === MIXINS ===
//

//
// - Caret -
//

@mixin caret($direction, $color, $size) {
    border-style: solid;
    border-width: $size;

    @if $direction == top {
        border-top-color: transparent;
        border-left-color: transparent;
        border-right-color: transparent;
        border-bottom-color: $color;
    } @else if $direction == right {
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: $color;
    } @else if $direction == down {
        border-left-color: transparent;
        border-bottom-color: transparent;
        border-right-color: transparent;
        border-top-color: $color;
    } @else {
        border-top-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
        border-right-color: $color;
    }
}
