<div>
	<div>
		ID: {{report?.id}}
	</div>
	<div>
		Device ID: {{report?.device_id}}
	</div>	
	<div>
		Report Status ID: {{report?.report_status_id}}
	</div>
	<div>
		Reporter ID: {{report?.reporter_id}}
	</div>
	<div>
		Report Type ID: {{report?.report_type_id}}
	</div>
	<div>
		Title: {{report?.title  | capitalize}}
	</div>
	<div>
		Body: {{report?.body}}
	</div>
	<div>
		Created By: {{report?.created_by}}
	</div>
	<div>
		Modified By: {{report?.modified_by}}
	</div>
	<div>
		Created At: {{report?.created_at | date:'short'}}
	</div>
	<div>
		Modified At: {{report?.modified_at | date:'short'}}
	</div>
	<div>
		Deleted: {{report?.deleted | date:'short'}}
	</div>

</div>