<div class="preloader-wrapper big active" *ngIf="loading">
  <div class="spinner-layer spinner-red-only">
    <div class="circle-clipper left">
      <div class="circle"></div>
    </div><div class="gap-patch">
    <div class="circle"></div>
  </div><div class="circle-clipper right">
    <div class="circle"></div>
  </div>
  </div>
</div>
<div class="center grey-text text-lighten-1" *ngIf="failed">
  <i class="icon-alert"></i>
  <span class="text-alert">Geen resultaat gevonden bij laden.</span>
</div>