<!--<form novalidate>

	<div>
		<label>
			Title:
			<input type="text" [(ngModel)]="report.title" name="reportTitle" required #reportTitle="ngModel">
		</label>
		<span *ngIf="!reportTitle.valid && (reportTitle.touched || !!reportTitle.id)">
			Please enter a report title.
		</span>
	</div>

	<div>
		<label>Body: <textarea [(ngModel)]="report.body" name="reportBody"></textarea></label>
	</div>

	<button type="button" (click)="saveReportButton(report)">Save</button>
	<button type="button" (click)="cancelReportButton(report)">Cancel</button>
	<button type="button" (click)="deleteReportButton(report)" *ngIf="!!report.id">Delete</button>

</form>-->