<table class="table table-striped">

	<thead>
		<tr>
			<th>ID</th>
			<th>Devide ID</th>
			<th>Report Status ID</th>
			<th>Reporter ID</th>
			<th>Report Type ID</th>
			<th>Title</th>
			<th>Body</th>
			<th>Created By</th>
			<th>Modified By</th>
			<th>Created At</th>
			<th>Modified At</th>
			<th>Deleted</th>
		</tr>
	</thead>

	<tbody>
		<tr *ngFor='let report of reports'>
			<td>{{report.id}}</td>
			<td>{{report.device_id}}</td>
			<td>{{report.report_status_id}}</td>
			<td>{{report.reporter_id}}</td>
			<td>{{report.report_type_id}}</td>
			<td>{{report.title | capitalize}}</td>
			<td>{{report.body}}</td>
			<td>{{report.created_by}}</td>
			<td>{{report.modified_by}}</td>
			<td>{{report.created_at}}</td>
			<td>{{report.modified_at}}</td>
			<td>{{report.deleted}}</td>
			<td>
				<button type="button" (click)="viewReportButton(report.id)">View</button>
				<button type="button" (click)="editReportButton(report.id)">Edit</button>
			</td>
		</tr>
	</tbody>

</table>