<header class="site-header">
    <a href="/" class="header__logo">
        <svg version="1.0" id="Laag_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
        	 viewBox="0 0 248.6 46" style="enable-background:new 0 0 248.6 46;" xml:space="preserve">
        <g>
        	<g>
        		<g>
        			<path style="fill:#FFFFFF;" d="M58.3,8.9h5.3l2.5,16.2h0.1l2.5-16.2h5.3l-4.7,20.9h-6.3L58.3,8.9z"/>
        			<path style="fill:#FFFFFF;" d="M79,22.7v1c0,2.5,0.4,3.7,1.7,3.7c1.2,0,1.6-0.9,1.7-2.9h4.4c-0.1,3.9-2.2,5.8-6.2,5.8
        				c-6,0-6.4-4.2-6.4-8.9c0-4.5,1.3-7.8,6.4-7.8c5.9,0,6.3,3.7,6.3,9.1H79z M82.4,19.9c0-2.2-0.3-3.4-1.6-3.4
        				c-1.6,0-1.8,1.3-1.8,3.4H82.4z"/>
        			<path style="fill:#FFFFFF;" d="M88.9,14h4.6v2.2h0.1c0.6-1.4,1.8-2.6,3.8-2.6c0.2,0,0.5,0,0.8,0.1v4.5c-0.5-0.1-0.8-0.1-1.3-0.1
        				c-1.9,0-3.1,0.8-3.1,2.9v9h-4.7V14z"/>
        			<path style="fill:#FFFFFF;" d="M99.7,8.9h4.7v10.8h0.1l3.5-5.7h5.2l-4.5,6.4l5.1,9.5h-5.2l-3-6l-1.2,1.7v4.3h-4.7V8.9z"/>
        			<path style="fill:#FFFFFF;" d="M118.8,22.7v1c0,2.5,0.4,3.7,1.7,3.7c1.2,0,1.6-0.9,1.7-2.9h4.4c-0.1,3.9-2.2,5.8-6.2,5.8
        				c-6,0-6.4-4.2-6.4-8.9c0-4.5,1.3-7.8,6.4-7.8c5.9,0,6.3,3.7,6.3,9.1H118.8z M122.2,19.9c0-2.2-0.3-3.4-1.6-3.4
        				c-1.6,0-1.8,1.3-1.8,3.4H122.2z"/>
        			<path style="fill:#FFFFFF;" d="M132.9,22.7v1c0,2.5,0.4,3.7,1.7,3.7c1.2,0,1.6-0.9,1.7-2.9h4.4c-0.1,3.9-2.2,5.8-6.2,5.8
        				c-6,0-6.4-4.2-6.4-8.9c0-4.5,1.3-7.8,6.4-7.8c5.9,0,6.3,3.7,6.3,9.1H132.9z M136.3,19.9c0-2.2-0.3-3.4-1.6-3.4
        				c-1.6,0-1.8,1.3-1.8,3.4H136.3z"/>
        			<path style="fill:#FFFFFF;" d="M142.8,14h4.6v2.2h0.1c0.6-1.4,1.8-2.6,3.8-2.6c0.2,0,0.5,0,0.8,0.1v4.5c-0.5-0.1-0.8-0.1-1.3-0.1
        				c-1.9,0-3.1,0.8-3.1,2.9v9h-4.7V14z"/>
        			<path style="fill:#FFFFFF;" d="M157.2,24.8c0,0.7,0.1,1.3,0.3,1.8c0.3,0.4,0.7,0.7,1.5,0.7c1.1,0,1.7-0.7,1.7-1.6
        				c0-0.7-0.4-1.4-1.8-1.9c-3.9-1.3-5.8-2.1-5.8-5.4c0-3.2,2.2-4.8,6-4.8c4.5,0,5.7,2.2,5.7,4.5v0.5h-4.2v-0.3
        				c0-1.4-0.6-1.8-1.6-1.8c-1.3,0-1.6,0.6-1.6,1.5c0,2.8,7.6,0.9,7.6,7.1c0,3.2-2.1,5.2-6.1,5.2c-4.2,0-6-1.6-6-4.7v-0.7H157.2z"/>
        			<path style="fill:#FFFFFF;" d="M167.3,8.9h4.7v20.9h-4.7V8.9z"/>
        			<path style="fill:#FFFFFF;" d="M174.9,8.7h4.7v3.6h-4.7V8.7z M174.9,14h4.7v15.8h-4.7V14z"/>
        			<path style="fill:#FFFFFF;" d="M190.2,19.9c0-2.3-0.5-3.3-1.8-3.3c-1.6,0-1.8,2-1.8,5.2c0,3.6,0.2,5.2,1.8,5.2
        				c1.4,0,1.7-1,1.8-3.7h4.4c0,4.9-2,6.9-6.3,6.9c-6,0-6.4-4.2-6.4-8.9c0-4.5,1.3-7.8,6.4-7.8c5,0,6.3,2.6,6.3,6.4H190.2z"/>
        			<path style="fill:#FFFFFF;" d="M196.5,8.9h4.7v6.8h0.1c0.8-1.6,2-2.1,3.6-2.1c2.7,0,4.1,1.3,4.1,4.4v11.9h-4.7V19
        				c0-1.1-0.5-1.8-1.4-1.8c-0.9,0-1.7,0.7-1.7,2.3v10.4h-4.7V8.9z"/>
        			<path style="fill:#FFFFFF;" d="M212.3,17.2h-2V14h2V9.3h4.7V14h2.2v3.3H217v8c0,1.1,0.4,1.5,1.5,1.5c0.2,0,0.5,0,0.7-0.1v3.2
        				c-0.9,0.1-1.8,0.2-2.7,0.2c-3.3,0-4.2-0.6-4.2-4.3V17.2z"/>
        			<path style="fill:#FFFFFF;" d="M221.1,24.5h4.6v5.3h-4.6V24.5z"/>
        			<path style="fill:#FFFFFF;" d="M228.5,14h4.6v1.9h0.1c0.7-1.4,2.1-2.3,3.8-2.3c2.7,0,4.1,1.3,4.1,4.4v11.9h-4.7V19
        				c0-1.1-0.5-1.8-1.4-1.8c-0.9,0-1.7,0.7-1.7,2.3v10.4h-4.7V14z"/>
        			<path style="fill:#FFFFFF;" d="M243.8,8.9h4.7v20.9h-4.7V8.9z"/>
        		</g>
        	</g>
        	<g>
        		<g>
        			<path style="fill:#FEBE10;" d="M79.7,40c-0.8-0.3-1-0.7-1-1.3c0-1.1,0.7-1.6,1.6-1.6c1,0,1.5,0.5,1.5,1.5v0.2h-0.6v-0.2
        				c0-0.7-0.3-1-0.9-1c-0.7,0-1,0.4-1,0.9c0,0.4,0.1,0.7,0.7,0.9l0.9,0.3c0.7,0.3,1,0.8,1,1.4c0,0.9-0.5,1.6-1.7,1.6
        				c-1.1,0-1.7-0.5-1.7-1.7v-0.2h0.6v0.1c0,0.8,0.3,1.2,1,1.2c0.7,0,1.1-0.4,1.1-1c0-0.5-0.2-0.8-0.7-1L79.7,40z"/>
        			<path style="fill:#FEBE10;" d="M82.7,38.9c0-1.1,0.5-1.7,1.7-1.7c1.1,0,1.5,0.6,1.5,1.4v3.2c0,0.3,0.1,0.4,0.3,0.4h0.2v0.4
        				c-0.1,0-0.2,0.1-0.3,0.1c-0.5,0-0.8-0.1-0.8-0.7v-0.2h0c-0.2,0.7-0.8,0.9-1.4,0.9c-0.9,0-1.4-0.6-1.4-1.5c0-0.7,0.3-1.3,1.1-1.5
        				l1.1-0.3c0.4-0.1,0.5-0.2,0.5-0.9c0-0.7-0.4-0.9-0.9-0.9c-0.7,0-1,0.4-1,1.2H82.7z M85.2,39.6L85.2,39.6
        				c-0.1,0.2-0.4,0.3-0.7,0.4l-0.5,0.1c-0.6,0.2-0.9,0.5-0.9,1.1c0,0.6,0.3,1.1,0.9,1.1c0.7,0,1.3-0.6,1.3-1.5V39.6z"/>
        			<path style="fill:#FEBE10;" d="M87.1,37.3h0.5V38h0c0.3-0.6,0.8-0.9,1.4-0.9c0.7,0,1,0.4,1.1,0.9h0c0.2-0.6,0.7-0.9,1.4-0.9
        				c0.8,0,1.3,0.4,1.3,1.4v4.1h-0.6v-4c0-0.6-0.3-1-0.8-1c-0.6,0-1.1,0.5-1.1,1.4v3.6h-0.6v-4c0-0.6-0.3-1-0.8-1
        				c-0.6,0-1.1,0.5-1.1,1.4v3.6h-0.6V37.3z"/>
        			<path style="fill:#FEBE10;" d="M97.4,40.9c-0.1,1.1-0.7,1.9-1.7,1.9c-1.1,0-1.8-0.8-1.8-2.8c0-1.9,0.7-2.8,1.9-2.8
        				c1.2,0,1.7,0.8,1.7,2.6V40h-3v0.3c0,1.6,0.5,2,1.2,2c0.6,0,1-0.5,1.1-1.4H97.4z M96.8,39.5c0-1.3-0.4-1.8-1.1-1.8
        				c-0.8,0-1.1,0.5-1.2,1.8H96.8z"/>
        			<path style="fill:#FEBE10;" d="M98.4,37.3H99V38h0c0.3-0.6,0.8-0.9,1.4-0.9c0.8,0,1.4,0.4,1.4,1.4v4.1h-0.6v-3.9
        				c0-0.7-0.3-1.1-0.9-1.1c-0.7,0-1.2,0.5-1.2,1.4v3.6h-0.6V37.3z"/>
        			<path style="fill:#FEBE10;" d="M104.9,37.3h0.7l0.9,4.8h0l1-4.8h0.8l0.9,4.8h0l0.9-4.8h0.7l-1.2,5.4h-0.7l-1-4.8h0l-1,4.8h-0.7
        				L104.9,37.3z"/>
        			<path style="fill:#FEBE10;" d="M114.7,40.9c-0.1,1.1-0.7,1.9-1.7,1.9c-1.1,0-1.8-0.8-1.8-2.8c0-1.9,0.7-2.8,1.9-2.8
        				c1.2,0,1.7,0.8,1.7,2.6V40h-3v0.3c0,1.6,0.5,2,1.2,2c0.6,0,1-0.5,1.1-1.4H114.7z M114.1,39.5c0-1.3-0.4-1.8-1.1-1.8
        				c-0.8,0-1.1,0.5-1.2,1.8H114.1z"/>
        			<path style="fill:#FEBE10;" d="M115.7,37.3h0.6v0.8h0c0.2-0.6,0.7-1,1.4-1c0.1,0,0.1,0,0.2,0v0.6c-0.1,0-0.2,0-0.3,0
        				c-0.7,0-1.3,0.5-1.3,1.5v3.4h-0.6V37.3z"/>
        			<path style="fill:#FEBE10;" d="M118.5,35.4h0.6V40h0l2.1-2.7h0.8l-1.6,2l1.9,3.4h-0.8l-1.6-2.8l-0.8,1v1.9h-0.6V35.4z"/>
        			<path style="fill:#FEBE10;" d="M126,40.9c-0.1,1.1-0.7,1.9-1.7,1.9c-1.1,0-1.8-0.8-1.8-2.8c0-1.9,0.7-2.8,1.9-2.8
        				c1.2,0,1.7,0.8,1.7,2.6V40h-3v0.3c0,1.6,0.5,2,1.2,2c0.6,0,1-0.5,1.1-1.4H126z M125.4,39.5c0-1.3-0.4-1.8-1.1-1.8
        				c-0.8,0-1.1,0.5-1.2,1.8H125.4z"/>
        			<path style="fill:#FEBE10;" d="M127,37.3h0.5V38h0c0.3-0.6,0.8-0.9,1.4-0.9c0.8,0,1.4,0.4,1.4,1.4v4.1h-0.6v-3.9
        				c0-0.7-0.3-1.1-0.9-1.1c-0.7,0-1.2,0.5-1.2,1.4v3.6H127V37.3z"/>
        			<path style="fill:#FEBE10;" d="M133.9,38.9c0-1.1,0.5-1.7,1.7-1.7c1.1,0,1.5,0.6,1.5,1.4v3.2c0,0.3,0.1,0.4,0.3,0.4h0.2v0.4
        				c-0.1,0-0.2,0.1-0.3,0.1c-0.5,0-0.8-0.1-0.8-0.7v-0.2h0c-0.2,0.7-0.8,0.9-1.4,0.9c-0.9,0-1.4-0.6-1.4-1.5c0-0.7,0.3-1.3,1.1-1.5
        				l1.1-0.3c0.4-0.1,0.5-0.2,0.5-0.9c0-0.7-0.4-0.9-0.9-0.9c-0.7,0-1,0.4-1,1.2H133.9z M136.5,39.6L136.5,39.6
        				c-0.1,0.2-0.4,0.3-0.7,0.4l-0.5,0.1c-0.6,0.2-0.9,0.5-0.9,1.1c0,0.6,0.3,1.1,0.9,1.1c0.7,0,1.3-0.6,1.3-1.5V39.6z"/>
        			<path style="fill:#FEBE10;" d="M138.2,38.9c0-1.1,0.5-1.7,1.7-1.7c1.1,0,1.5,0.6,1.5,1.4v3.2c0,0.3,0.1,0.4,0.3,0.4h0.2v0.4
        				c-0.1,0-0.2,0.1-0.3,0.1c-0.5,0-0.8-0.1-0.8-0.7v-0.2h0c-0.2,0.7-0.8,0.9-1.4,0.9c-0.9,0-1.4-0.6-1.4-1.5c0-0.7,0.3-1.3,1.1-1.5
        				l1.1-0.3c0.4-0.1,0.5-0.2,0.5-0.9c0-0.7-0.4-0.9-0.9-0.9c-0.7,0-1,0.4-1,1.2H138.2z M140.8,39.6L140.8,39.6
        				c-0.1,0.2-0.4,0.3-0.7,0.4l-0.5,0.1c-0.6,0.2-0.9,0.5-0.9,1.1c0,0.6,0.3,1.1,0.9,1.1c0.7,0,1.3-0.6,1.3-1.5V39.6z"/>
        			<path style="fill:#FEBE10;" d="M142.7,37.3h0.5V38h0c0.3-0.6,0.8-0.9,1.4-0.9c0.8,0,1.4,0.4,1.4,1.4v4.1h-0.6v-3.9
        				c0-0.7-0.3-1.1-0.9-1.1c-0.7,0-1.2,0.5-1.2,1.4v3.6h-0.6V37.3z"/>
        			<path style="fill:#FEBE10;" d="M153,40.9c-0.1,1.1-0.7,1.9-1.7,1.9c-1.1,0-1.8-0.8-1.8-2.8c0-1.9,0.7-2.8,1.9-2.8
        				c1.2,0,1.7,0.8,1.7,2.6V40h-3v0.3c0,1.6,0.5,2,1.2,2c0.6,0,1-0.5,1.1-1.4H153z M152.4,39.5c0-1.3-0.4-1.8-1.2-1.8
        				c-0.8,0-1.1,0.5-1.2,1.8H152.4z"/>
        			<path style="fill:#FEBE10;" d="M157.3,40.9c-0.1,1.1-0.7,1.9-1.7,1.9c-1.1,0-1.8-0.8-1.8-2.8c0-1.9,0.7-2.8,1.9-2.8
        				c1.2,0,1.7,0.8,1.7,2.6V40h-3v0.3c0,1.6,0.5,2,1.2,2c0.6,0,1-0.5,1.1-1.4H157.3z M156.7,39.5c0-1.3-0.4-1.8-1.2-1.8
        				c-0.8,0-1.1,0.5-1.2,1.8H156.7z"/>
        			<path style="fill:#FEBE10;" d="M158.3,37.3h0.5V38h0c0.3-0.6,0.8-0.9,1.4-0.9c0.8,0,1.4,0.4,1.4,1.4v4.1H161v-3.9
        				c0-0.7-0.3-1.1-0.9-1.1c-0.7,0-1.2,0.5-1.2,1.4v3.6h-0.6V37.3z"/>
        			<path style="fill:#FEBE10;" d="M168.1,37.3h0.5v5c0,1.5-0.5,2.3-1.8,2.3c-1,0-1.6-0.5-1.6-1.3h0.6c0,0.5,0.5,0.8,1,0.8
        				c0.7,0,1.1-0.5,1.1-1.5v-0.9h0c-0.2,0.7-0.7,1-1.3,1c-0.8,0-1.7-0.6-1.7-2.7c0-1.9,0.5-2.8,1.7-2.8c0.6,0,1.1,0.3,1.3,1h0V37.3z
        				 M166.8,42.2c0.7,0,1.2-0.5,1.2-2.3c0-1.7-0.4-2.2-1.2-2.2c-0.7,0-1.2,0.5-1.2,2.2C165.7,41.6,166.1,42.2,166.8,42.2z"/>
        			<path style="fill:#FEBE10;" d="M171.4,37.2c1.2,0,1.9,0.9,1.9,2.8c0,1.9-0.7,2.8-1.9,2.8s-1.9-0.9-1.9-2.8
        				C169.5,38.1,170.2,37.2,171.4,37.2z M171.4,42.3c0.7,0,1.2-0.6,1.2-2.3c0-1.7-0.5-2.3-1.2-2.3c-0.7,0-1.2,0.6-1.2,2.3
        				C170.2,41.7,170.7,42.3,171.4,42.3z"/>
        			<path style="fill:#FEBE10;" d="M177.5,40.9c-0.1,1.1-0.7,1.9-1.7,1.9c-1.1,0-1.8-0.8-1.8-2.8c0-1.9,0.7-2.8,1.9-2.8
        				c1.2,0,1.7,0.8,1.7,2.6V40h-3v0.3c0,1.6,0.5,2,1.2,2c0.6,0,1-0.5,1.1-1.4H177.5z M176.9,39.5c0-1.3-0.4-1.8-1.2-1.8
        				c-0.8,0-1.1,0.5-1.2,1.8H176.9z"/>
        			<path style="fill:#FEBE10;" d="M181.3,41.8L181.3,41.8c-0.2,0.6-0.7,1-1.3,1c-1.2,0-1.7-1-1.7-2.8c0-1.9,0.5-2.8,1.7-2.8
        				c0.7,0,1.1,0.4,1.3,0.9h0v-2.7h0.6v7.3h-0.5V41.8z M180.1,42.3c0.6,0,1.2-0.3,1.2-2.3c0-2-0.6-2.3-1.2-2.3
        				c-0.6,0-1.2,0.3-1.2,2.3C178.9,42,179.5,42.3,180.1,42.3z"/>
        			<path style="fill:#FEBE10;" d="M186.3,40.9c-0.1,1.1-0.7,1.9-1.7,1.9c-1.1,0-1.8-0.8-1.8-2.8c0-1.9,0.7-2.8,1.9-2.8
        				c1.2,0,1.7,0.8,1.7,2.6V40h-3v0.3c0,1.6,0.5,2,1.2,2c0.6,0,1-0.5,1.1-1.4H186.3z M185.7,39.5c0-1.3-0.4-1.8-1.2-1.8
        				c-0.8,0-1.1,0.5-1.2,1.8H185.7z"/>
        			<path style="fill:#FEBE10;" d="M192.6,41.8L192.6,41.8c-0.2,0.6-0.7,1-1.3,1c-1.2,0-1.7-1-1.7-2.8c0-1.9,0.5-2.8,1.7-2.8
        				c0.7,0,1.1,0.4,1.3,0.9h0v-2.7h0.6v7.3h-0.5V41.8z M191.4,42.3c0.6,0,1.2-0.3,1.2-2.3c0-2-0.6-2.3-1.2-2.3
        				c-0.6,0-1.2,0.3-1.2,2.3C190.2,42,190.8,42.3,191.4,42.3z"/>
        			<path style="fill:#FEBE10;" d="M195.9,37.2c1.2,0,1.9,0.9,1.9,2.8c0,1.9-0.7,2.8-1.9,2.8c-1.2,0-1.9-0.9-1.9-2.8
        				C194,38.1,194.7,37.2,195.9,37.2z M195.9,42.3c0.7,0,1.2-0.6,1.2-2.3c0-1.7-0.5-2.3-1.2-2.3c-0.7,0-1.2,0.6-1.2,2.3
        				C194.6,41.7,195.2,42.3,195.9,42.3z"/>
        			<path style="fill:#FEBE10;" d="M200.2,37.2c1.2,0,1.9,0.9,1.9,2.8c0,1.9-0.7,2.8-1.9,2.8s-1.9-0.9-1.9-2.8
        				C198.3,38.1,199,37.2,200.2,37.2z M200.2,42.3c0.7,0,1.2-0.6,1.2-2.3c0-1.7-0.5-2.3-1.2-2.3c-0.7,0-1.2,0.6-1.2,2.3
        				C199,41.7,199.5,42.3,200.2,42.3z"/>
        			<path style="fill:#FEBE10;" d="M202.9,37.3h0.6v0.8h0c0.2-0.6,0.7-1,1.4-1c0.1,0,0.1,0,0.2,0v0.6c-0.1,0-0.2,0-0.3,0
        				c-0.7,0-1.3,0.5-1.3,1.5v3.4h-0.6V37.3z"/>
        			<path style="fill:#FEBE10;" d="M206.6,40c-0.8-0.3-1-0.7-1-1.3c0-1.1,0.7-1.6,1.6-1.6c1,0,1.5,0.5,1.5,1.5v0.2h-0.6v-0.2
        				c0-0.7-0.3-1-0.9-1c-0.7,0-1,0.4-1,0.9c0,0.4,0.1,0.7,0.7,0.9l0.9,0.3c0.7,0.3,1,0.8,1,1.4c0,0.9-0.5,1.6-1.7,1.6
        				c-1.1,0-1.7-0.5-1.7-1.7v-0.2h0.6v0.1c0,0.8,0.3,1.2,1,1.2c0.7,0,1.1-0.4,1.1-1c0-0.5-0.2-0.8-0.7-1L206.6,40z"/>
        			<path style="fill:#FEBE10;" d="M210,37.8h-0.7v-0.5h0.7v-1.5h0.6v1.5h1v0.5h-1v3.9c0,0.4,0.2,0.6,0.6,0.6c0.1,0,0.2,0,0.4-0.1
        				v0.5c-0.1,0-0.2,0.1-0.4,0.1c-0.8,0-1.1-0.2-1.1-0.9V37.8z"/>
        			<path style="fill:#FEBE10;" d="M212.2,37.3h0.6v0.8h0c0.2-0.6,0.7-1,1.4-1c0.1,0,0.1,0,0.2,0v0.6c-0.1,0-0.2,0-0.3,0
        				c-0.7,0-1.3,0.5-1.3,1.5v3.4h-0.6V37.3z"/>
        			<path style="fill:#FEBE10;" d="M216.6,37.2c1.2,0,1.9,0.9,1.9,2.8c0,1.9-0.7,2.8-1.9,2.8c-1.2,0-1.9-0.9-1.9-2.8
        				C214.7,38.1,215.4,37.2,216.6,37.2z M216.6,42.3c0.7,0,1.2-0.6,1.2-2.3c0-1.7-0.5-2.3-1.2-2.3c-0.7,0-1.2,0.6-1.2,2.3
        				C215.4,41.7,215.9,42.3,216.6,42.3z"/>
        			<path style="fill:#FEBE10;" d="M220.9,37.2c1.2,0,1.9,0.9,1.9,2.8c0,1.9-0.7,2.8-1.9,2.8c-1.2,0-1.9-0.9-1.9-2.8
        				C219.1,38.1,219.7,37.2,220.9,37.2z M220.9,42.3c0.7,0,1.2-0.6,1.2-2.3c0-1.7-0.5-2.3-1.2-2.3c-0.7,0-1.2,0.6-1.2,2.3
        				C219.7,41.7,220.2,42.3,220.9,42.3z"/>
        			<path style="fill:#FEBE10;" d="M223.7,37.3h0.5V38h0c0.3-0.6,0.8-0.9,1.4-0.9c0.7,0,1,0.4,1.1,0.9h0c0.2-0.6,0.7-0.9,1.4-0.9
        				c0.8,0,1.3,0.4,1.3,1.4v4.1h-0.6v-4c0-0.6-0.3-1-0.8-1c-0.6,0-1.1,0.5-1.1,1.4v3.6h-0.6v-4c0-0.6-0.3-1-0.8-1
        				c-0.6,0-1.1,0.5-1.1,1.4v3.6h-0.6V37.3z"/>
        		</g>
        	</g>
        	<path style="fill:#FFFFFF;" d="M1.5,16.2c0,0.1,14.2,24,14.8,25c0.9,1.4,2.1,2.5,3.6,3.4c1.6,1,3.5,1.5,5.4,1.5
        		c3.8,0,7.3-2,9.3-5.3l14.1-24.1c1.5-2.5,1.9-5.4,1.1-8.1c-0.7-2.8-2.5-5.1-5-6.6c-1.6-1-3.5-1.5-5.4-1.5l0,0
        		C35.6,0.4,14.5,0,10.7,0l0,0C8.8,0,6.9,0.5,5.3,1.5C0.2,4.5-1.5,11.1,1.5,16.2z"/>
        	<path style="fill:#252D42;" d="M45,14.5c1.8-3.1,0.8-7.1-2.3-8.9l0,0c-3.1-1.8-7.1-0.8-8.9,2.3L19.7,32c-1.8,3.1-0.8,7.1,2.3,8.9
        		l0,0c3.1,1.8,7.1,0.8,8.9-2.3L45,14.5z"/>
        	<path style="fill:#252D42;" d="M19.3,12.7c-0.9-1.6-3-5.3-3-5.3c-1.8-3.1-5.8-4.1-8.9-2.3C4.4,7,3.3,10.9,5.1,14
        		c0,0,3.9,6.7,6.6,11.3c4,6.8,6,4.8,8.8,0l3.2-5L19.3,12.7z"/>
        	<path class="light3" style="fill-rule:evenodd;clip-rule:evenodd;" d="M25.7,39.7c2.8,0,5.1-2.3,5.1-5.1c0-2.8-2.3-5.1-5.1-5.1
        		s-5.1,2.3-5.1,5.1C20.6,37.4,22.9,39.7,25.7,39.7z"/>
        	<path class="light2" style="fill-rule:evenodd;clip-rule:evenodd;" d="M32.6,28.1c2.8,0,5.1-2.3,5.1-5.1c0-2.8-2.3-5.1-5.1-5.1
        		s-5.1,2.3-5.1,5.1C27.5,25.8,29.8,28.1,32.6,28.1z"/>
        	<path class="light1" style="fill-rule:evenodd;clip-rule:evenodd;" d="M39.3,16.8c2.8,0,5.1-2.3,5.1-5.1c0-2.8-2.3-5.1-5.1-5.1
        		c-2.8,0-5.1,2.3-5.1,5.1C34.2,14.5,36.5,16.8,39.3,16.8z"/>
        </g>
        </svg>
    </a>

    <button class="toggle-nav">
        Menu<span></span>
    </button>

    <nav class="nav-desktop">
        <?= $this->Cell( 'Navigation' ); ?>
    </nav>
</header>
