<div class="search-reports">
    <input type="search" class="form-control" placeholder="Zoek een melding...." #listFilter (keyup)="0" [(ngModel)]="searchInputValue"  (input)="setPaginationLimitOnInput()"/>

    <i class="icon-search"></i>
</div>

<section class="page__section section--white section--reports latest-reports">
    <ul class="reports-list">
        <li *ngFor='let report of reports | filter:listFilter.value' class="report {{report.report_status.class}}" (click)="modalReportButton(report.id)">
            <div class="report__content">
                <span data-field="report-vri_place">  
                    <span class="report__marker">     
                        <span class="report__id">{{report.id}}</span>
                    </span>
                    {{report.vri_place}}
                </span>
                <span data-field="report-report_type-description" class="report__description">{{report.report_type.description}}</span>
            </div>
            <span class="report__timestamp"><span>{{report.date | date:"dd-MM-yy"}}</span>&nbsp;|&nbsp;<span>{{report.time | date:"HH:mm"}}</span></span>
        </li>
        <!-- ngFor -->
        <div *ngIf="reports.length==0">
            <div class="spinner">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
            </div>
        </div>
    </ul>
</section>