//
// === BLOG ===
//

//
// - Post Block -
//

.post-block {
    margin: 15px 0 30px;
    height: 100%;

    // figure {
    //     margin-bottom: 15px;
    //     box-shadow: 0 3px 0 0 $shadow-supernova;

    //     img {
    //         width: 100%;
    //         height: auto;
    //     }
    // }

    &.is-featured {
        align-items: stretch;
    }

    .post-block__img {
        height: 160px; // NEW
        background-size: cover; // NEW
        background-position: top left; // NEW
        margin-bottom: 15px;
        box-shadow: 0 3px 0 0 $shadow-supernova;

        &.post-block__img--featured {
            height: auto;
            margin-bottom: 0;
        }
    }

    p {
        min-height: 84px;
        margin-top: 10px;
    }

    a {
        display: inline-block;
        position: relative;
        padding-bottom: 41px;
        height: 100%;

        footer {
            display: flex;
            justify-content: space-between;
            align-items: baseline;
            border-top: 1px solid $gallery;
            padding-top: 10px;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;

            i {
                color: $supernova;
            }

            .post__metadata {
                li {
                    display: inline-block;
                    font-size: .9rem;

                    i {
                        margin-right: 5px;
                    }

                    + li {
                        margin-left: 10px;
                    }
                }
            }
        }
    }


    @include media-breakpoint-up(md) {
        //figure 
        .post-block__img {

            height: 160px; // NEW
            background-size: cover; // NEW
            background-position: top left; // NEW

            &.post-block__img--featured {
                height: auto;
            }
        }

        footer .post__metadata {
            li {
                font-size: 1.2rem;

                // span {
                //     font-weight: 700;
                // }

                + li {
                    margin-left: 40px;
                }
            }
        }

        &:hover {
            figure {
                .post-block__img {
                    transform: scale(1.05);
                }
            }

            .icon-arrow-right {
                color: $ebony-clay;
            }
        }

        //
        // - Featured Post -
        //

        &.is-featured {
            display: flex;

            > * {
                width: 50%;
            }

            figure {
                margin-bottom: 0;
                box-shadow: none;

                div {
                    width: 100%;
                    height: 100%;
                    background-size: cover;
                }
            }

            footer {
                margin-top: 60px;
            }

            &:hover {
                .icon-arrow-right {
                    color: $white;
                }
            }
        }
    }
}
