//
// === PERSONA ===
//

.persona {
    position: absolute;
    right: 87px;
    bottom: 0;
    width: 374px;
    height: 460px;
    background-image: url('../../assets/images/what-we-do/what-we-do_road-authority.png');
    background-repeat: no-repeat;

    .name-badge {
        display: flex;
        align-items: center;
        position: absolute;
        top: 120px;
        right: -30px;
        width: 143px;
        height: 143px;
        border-radius: 100%;
        background-color: $supernova;

        .name-badge__content {
            text-align: center;
            font-weight: 700;
            font-size: 1.7rem;
            line-height: 1.7rem;
            color: $ebony-clay;

            span {
                font-size: 1.3rem;
                color: $persona-function;
            }
        }
    }
}
